.messageContainer {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.message__from > p {
  font-size: small;
  padding: 0 25px;
  color: gray;
  font-size: 12px;
}

.message__from {
  display: flex;
}

.messageContainer__message {
  padding: 5px 10px;
}

.message__message {
  padding-top: 5px;
}
